.slide-up-enter-active,
.slide-up-leave-active {
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
}

.slide-up-enter,
.slide-up-leave-to {
    opacity: 0;
    transform: translateY(10px);
}
