.events-list {

    &__item {
        background-color: $color--light;
        color: $color--darkblue;

        &:hover {
            background-color: $color--darkblue;
            color: $color--light;
            transition: background-color .4s ease-in-out;
        }
    }

    &__btn {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 1rem;
    }

    &__navigation-bar {
        background-color: $color--light;
        color: $color--darkblue;
    }

    &__navigation-bar {
        background-color: $color--light;
        color: $color--darkblue;
    }
}
