.header {

    position: relative;

    padding-top: 25%;

    &__image {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        position: absolute;
        top: 20%;
        left: 11%;
        color: $color--light;
    }
}
