.navigation {
    background-color: $color--light;

    height: $nav-height;

    &__logo {
        height: $nav-height;
    }

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
